@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #707070; }

h1, h2, h3 {
  font-family: Raleway, sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 12px; }

h3 {
  font-size: 16px; }

/*tipografia*/
/*body*/
/*h1*/
/*h2*/
/*hero*/
/*h3*/
/*p*/
header {
  min-height: 250px;
  background: #ff9500;
  background: linear-gradient(90deg, #ff9500 76%, #a2806a 100%); }
  header header img {
    -webkit-animation: from-top 1.5s ease;
    animation: from-top 1.5s ease; }
  header .container-fluid {
    max-height: 500px;
    padding: 10px;
    background: #ff9500;
    background: linear-gradient(90deg, #ff9500 76%, #a2806a 100%);
    color: #ffffff; }
  header h1 {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px; }

main {
  width: 100%;
  margin: auto;
  min-height: 600px; }
  main #hero {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
  main #hero img {
    width: 200px;
    height: 280px; }
  main #hero h2 {
    font-size: 18px;
    margin-top: 35px; }
  main #producto {
    width: 60%;
    height: 500px;
    margin: auto; }
    main #producto img {
      width: 250px;
      height: 280px; }
  main .producto h2 {
    margin-top: 44px;
    text-align: center;
    text-justify: center; }

#reseña {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 12rem 1fr;
  grid-template-areas: "header header" "nav main" "nav footer"; }
  #reseña header {
    grid-area: header;
    width: 100%;
    margin: 10px;
    padding: 15px;
    float: right; }
    #reseña header nav {
      grid-area: nav;
      padding: 3rem;
      height: 700px;
      line-height: 24px; }
    #reseña header div a {
      color: #f8f8f8;
      text-decoration: none;
      font-size: 40px;
      width: 100%; }
    #reseña header h1 {
      font-size: 30px; }
  #reseña main {
    grid-area: main;
    width: 60%;
    margin: 10px;
    padding: 15px;
    float: right;
    font-size: small; }
  #reseña footer div nav {
    grid-area: footer;
    height: 100px;
    background: #051b33; }
  #reseña footer img {
    padding: 3px 10px; }

@media screen and (max-width: 760px) {
  .left {
    width: 100%; }
  .main {
    width: 100%; }
  .right {
    width: 100%; } }

#main-contacto {
  width: 100%;
  height: 500px;
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat; }
  #main-contacto form section {
    width: 400px; }

#main-contacto form {
  width: 600px;
  margin: auto;
  padding: 10px 30px;
  background-color: #d3d3d3;
  border-radius: 16px;
  display: flex;
  justify-content: space-between; }

#main-contacto input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif; }

#main-contacto input:focus {
  outline: none;
  border: 2px solid #a2806a;
  box-shadow: 0px 0px 3px #a2806a; }

#main-contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  height: 150px;
  resize: none; }
  #main-contacto textarea:focus {
    outline: none;
    border: 2px solid #a2806a;
    box-shadow: 0px 0px 3px #a2806a; }

#main-contacto button {
  width: 100%;
  padding: 10px 0px;
  background-color: #444;
  color: #5a5a5a;
  border: none;
  border-radius: 8px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 400ms; }
  #main-contacto button:hover {
    background-color: #5a5a5a;
    box-shadow: 0px 0px 5px #000000; }

#main-contacto div {
  padding: 6px;
  margin: 10px 0px;
  width: 400px;
  height: 100px;
  background-color: #f4f4f4;
  border-radius: 10px; }

#main-contacto img {
  width: 20px;
  margin: 2px; }

#nosotros {
  font-family: "Raleway", sans-serif;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

#nosotros article {
  width: 100%; }
  #nosotros article p {
    font-size: 14px;
    margin: 15px 5px; }

#nosotros img {
  width: 240px;
  height: 310px;
  margin: 8px 5px; }

#aspectos {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #aspectos article {
    width: 200px;
    padding-left: 5px; }
    #aspectos article h3 {
      font-size: 16;
      margin-bottom: 10px;
      padding-left: 6px; }
      #aspectos article h3 img {
        margin-right: 10px;
        vertical-align: middle; }

#comprar {
  width: 80%; }
  #comprar .contenedor {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #comprar article {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 5px #ccc;
    margin: 50px; }
    #comprar article div span {
      font-size: 32px;
      font-weight: 600; }
    #comprar article a {
      padding: 10px 15px;
      border: 1px solid #707070;
      border-radius: 20px;
      text-decoration: none;
      color: #5a5a5a;
      font-weight: 600;
      transition: 500ms; }
      #comprar article a:hover {
        background-color: #707070;
        color: #ffffff; }
  #comprar ul {
    list-style: none;
    list-style: none;
    list-style: 24px;
    margin-bottom: 28px;
    padding: 20px; }
    #comprar ul li {
      line-height: 24px; }
  #comprar div {
    padding: 4px 0px;
    margin: 30px 0px 20px 0px;
    background-color: #f8f8f8; }

footer {
  width: 100vw;
  background-color: #051b33; }
  footer div {
    height: 100px;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer div a {
      text-decoration: none;
      color: #ccc; }
      footer div a img {
        width: 50px;
        vertical-align: middle;
        margin-right: 8px; }
  footer nav a img {
    width: 20px;
    margin: 8px; }

#reseña {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  grid-template-columns: 12rem 1fr;
  grid-template-areas: "header header" "nav main" "nav footer"; }
  #reseña header {
    grid-area: header;
    width: 100%;
    margin: 10px;
    padding: 15px;
    float: right; }
    #reseña header #reseña nav {
      grid-area: nav;
      padding: 30px;
      height: 700px;
      line-height: 24px;
      margin: 60px; }
    #reseña header #reseña div a {
      color: #ffffff;
      text-decoration: none;
      font-size: 40px;
      width: 100%; }
    #reseña header h1 {
      font-size: 30px; }
  #reseña #reseña main {
    grid-area: main;
    width: 60%;
    margin: 40px;
    padding: 60px;
    float: right;
    font-size: small; }
  #reseña #reseña footer div nav {
    grid-area: footer;
    height: 100px;
    background: #051b33;
    width: 100%; }
  #reseña #reseña footer img {
    padding: 3px 10px; }
