$gris: #707070;
$amarillo: rgb(255, 149, 0);
$gradiente: linear-gradient(90deg, rgb(255, 149, 0) 76%, rgb(162, 128, 106) 100%);
$blanco: #ffffff;
$blanco-c: #ccc;
$blanco-8: #f8f8f8;
$gris-claro: #d3d3d3;
$blanco-4: #f4f4f4;
$marron-clarito: #a2806a;
$gris-oscuro: #444;
$negro: #000000;
$azul: #051b33;
$gris-medio:#5a5a5a;
/*tipografia*/
$raleway:'Raleway', sans-serif;
/*body*/
$font-size-body: 16px;
/*h1*/
$font-size-h1: 30px;
/*h2*/
$font-size-h2: 12px;
/*hero*/
$font-size-hero: 18px;
/*h3*/
$font-size-h3: 16px;
/*p*/
$font-size-p: 14px;