
$yellow:rgb(255, 149, 0);
$gradient: linear-gradient(90deg, rgb(255, 149, 0) 76%, rgb(162, 128, 106) 100%);
$white: #ffffff;
$blue: #051b33;


$color-sombreado: #707070;
$color_responsive:#a2806a;
$color-terciario:#000000;


$fuente-comun: Raleway, sans-serif;
$fuente-cuerpo: 16px;
$Espaciado-cuerpo: 300;
$fuente-titulo: 32px;

$font-size: 20px;
$font-size: small;
$font-size: 32px;
$font-weight: 600;
$font-size: 40px;
$font-size: 30px;




