
$color_1: #707070;
$color_2: #ffffff;
$color_3: #fff;
$color_4: #a2806a;
$font-family_1: Raleway, sans-serif;
$background-color_1: #f8f8f8;
$background-color_2: #707070;
$background-color_3: #d3d3d3;
$background-color_4: #f4f4f4;
$background-color_5: #444;
$background-color_6: #5a5a5a;
$background-color_7: #051b33;

@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap";
@keyframes from-right {
	0% {
		opacity: 0;
		transition: translateX(80px);
	}
	100% {
		opacity: 1;
		transform: translateX(80px);
	}
}
@media screen and (min-width:768px) {
	#grilla {
		grid-template-columns: repeat(4,1fr);
	
	}
	.contenedor {
		width: 80%;
		color: $color_4;
		min-height: 400px;
	}
}

