
header {
    min-height: 250px;
    background: $amarillo;
    background: $gradiente;
  header img {
    -webkit-animation: from-top 1.5s ease;
            animation: from-top 1.5s ease;
  }
  
  .container-fluid {
    max-height: 500px;
    padding: 10px;
    background: $amarillo;
    background: $gradiente;
    color:$blanco;
  }
  
  h1 {
    font-size: 32px;
    font-weight: 600;
    color:$blanco;
    padding: 10px;
  }
}