#comprar {
	width: 80%;
	.contenedor {
		height: 500px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	article {
		width: 100%;
		text-align: center;
		border-radius: 10px;
		padding: 30px;
		box-shadow: 0px 0px 5px $blanco-c;
		margin: 50px;
		div {
			span {
				font-size: 32px;
				font-weight: 600;
			}
		}
		a {
			padding: 10px 15px;
			border: 1px solid $gris;
			border-radius: 20px;
			text-decoration: none;
			color: $gris-medio;
			font-weight: 600;
			transition: 500ms;
			&:hover {
				background-color: $gris;
				color: $blanco;
			}
		}
	}
	ul {
		list-style: none;
		list-style: none;
		list-style: 24px;
		margin-bottom: 28px;
		padding: 20px;
		li {
			line-height: 24px;
		}
	}
	div {
		padding: 4px 0px;
		margin: 30px 0px 20px 0px;
		background-color: $blanco-8;
	}
}
