footer {
	width: 100%;
	background-color: $azul;
	div {
		height: 100px;
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: $font-size-h3;
		a {
			text-decoration: none;
			color: $blanco-c;
			img {
				width: 50px;
				vertical-align: middle;
				margin-right: 8px;
			}
		}
	}
	nav {
		a {
			img {
				width: 20px;
				margin: 8px;
			}
		}
	}
}