
$color_1: #707070;
$color_2: #ffffff;
$color_3: #fff;
$font-family_1: Raleway, sans-serif;
$background-color_1: rgb(255, 149, 0);
$background-color_2: linear-gradient(90deg, rgb(255, 149, 0) 76%, rgb(162, 128, 106) 100%);
$background-color_7: #051b33;
$background-color_3: #d3d3d3;
$background-color_4: #f4f4f4;
$background-color_5: #444;
$background-color_6: #5a5a5a;

